<div class='search-background'>
</div>
<div class="articles">
  <%= form_for @articles_search_form, url: {action: "results"}, method: "get" do |f| %>
    <fieldset>
      <%= f.label(:publications)%>
      <%= f.select(:publications, @articles_search_form.publications, { include_blank: true, selected: "" }) %>
      <%= f.label(:title)%>
      <%= f.text_field :title %>
      <%= f.hidden_field(:search_offset) %>
      <%= f.submit "Search", class: "button button-outline" %>
    </fieldset>
  <% end %>
</div>