<% cache @article do %>
  <div class='articles'>
    <div class='article-form'></div>
    <article id='article' class='article' data-turbolinks-permanent>
      <header>
        <h1><%= @article.title %></h1>
      </header>
      <section>
        <div class='article-text' data-article-uuid=<%= @article.uuid %> data-user-id=<%= current_user.try(:id) %> >
          <%= @article.full_text %>
        </div>
      </section>
    </article>
  </div>
  <%- if @annotations.length > 0 %>
    <% cache(["annotation_list", @annotations.map(&:id), @annotations.maximum(:updated_at)]) do %>
      <aside class='aside-annotations'>
        <h2>Annotations</h2>
        <%- @annotations.each do |annotation|%>
          <% cache(annotation) do %>
            <section class="annotation">
              <b><%= annotation.text %></b>
              <b><%= annotation.citation %></b>
            </section>
            <% end %>
        <% end %>
      </aside>
    <% end %>
  <% end %>
  <footer class='bottom-links'>
    <%= link_to('back to search', root_url(), class: 'articles-list-link')%>
  </footer>
<% end %>
