<nav role='navigation'>
  <div class='nav-container'>
    <button class='button button-clear nav-toggle' aria-label='toggle nav'>
      <%= image_tag('kabob.svg') %>
    </button>
    <%= link_to(root_url, class: 'logo-link', 'arial-label': 'home') do %>
      <%= image_tag('ink.svg', class: 'logo', alt: 'logo, ink drops') %>
    <% end %>
    <p>ink stream</p>
    <div class='top-menu nav-links'>
      <%= render('layouts/nav_list') %>
    </div>
    <div class='mobile-menu side-nav-grid'>
      <%= render('layouts/nav_list') %>
    </div>
  </div>
</nav>