<!DOCTYPE html>
<html>
  <head>
    <title>InkStream</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  </head>

  <body>
    <%= render "layouts/nav"%>
    <main role="main">
      <div class="wrapper">
        <%= render "layouts/flash_message"%>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
