<!-- Doctype HTML5 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="News link aggregator and annotator">
    <title>ink stream</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'annotation_form' %>
  </head>

  <body lang="en" dir="ltr">
    <div class="screen"></div>
    <nav role='navigation'>
      <div class='nav-container'>
        <button class='button button-clear nav-toggle' aria-label='toggle nav'>
          <%= image_tag('kabob.svg') %>
        </button>
        <%= link_to(root_url, class: 'logo-link', 'arial-label': 'home') do %>
          <%= image_tag('ink.svg', class: 'logo', alt: 'logo, ink drops') %>
        <% end %>
        <p>ink stream</p>
        <div class='top-menu nav-links'>
          <%= render('layouts/nav_list') %>
        </div>
        <div class='mobile-menu side-nav-grid'>
          <%= render('layouts/nav_list') %>
        </div>
      </div>
    </nav>
    <main role="main">
      <div class="wrapper">
        <%= render "layouts/flash_message"%>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
